  .link-xxxl {
    font-family: var(--font-family-principal);
    font-size: var(--font-size-standard);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-xxs);
    line-height: var(--line-height-fair);
  }
  
  .link-xxl {
    font-family: var(--font-family-principal);
    font-size: var(--font-size-standard);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-xxs);
    line-height: var(--line-height-fair);
  }
  
  .link-xl {
    font-family: var(--font-family-principal);
    font-size: var(--font-size-standard);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-xxs);
    line-height: var(--line-height-fair);
  }
  
  .link-lg {
    font-family: var(--font-family-principal);
    font-size: var(--font-size-middle);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-xxs);
    line-height: var(--line-height-fair);
  }
  
  .link-md {
    font-family: var(--font-family-principal);
    font-size: var(--font-size-middle);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-xxs);
    line-height: var(--line-height-fair);
  }
  .link-sm {
    font-family: var(--font-family-principal);
    font-size: var(--font-size-middle);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-xxs);
    line-height: var(--line-height-fair);
  }
  