:root {

  /* Transitions */
  --transition-links: all 0.3s ease-in-out;

  /* Colors */
  --primary-color-base-01: #D60B52;
  --primary-color-base-02: #505050;

  --secondary-color-base-01: #000000;
  --secondary-color-base-02: #8C368C;
  --secondary-color-base-03: #AC1E50;
  --secondary-color-base-04: #A8D157;
  --secondary-color-base-05: #FFB41B;
  --secondary-color-base-06: #008484;

  --light-color-base-01: #FFFFFF;
  --light-color-base-02: #F9F9F9;
  --light-color-base-03: #F2F2F2;
  --light-color-base-04: #EEEEEE;
  --light-color-base-05: #E7E9EE;


  --dark-color-base-01: #C4C4C4;
  --dark-color-base-02: #A4A4A4;
  --dark-color-base-03: #6E6E6E;
  --dark-color-base-04: #4A4A4A;
  --dark-color-base-05: #363636;

  --success-color-base-01: #D7EFE4;
  --success-color-base-02: #85D2AC;
  --success-color-base-03: #37805C;
  --success-color-base-04: #07743E;
  --success-color-base-05: #006231;

  --error-color-base-01: #FFCCCC;
  --error-color-base-02: #FF7373;
  --error-color-base-03: #FF0000;
  --error-color-base-04: #DB0100;
  --error-color-base-05: #BF0000;

  --alert-color-base-01: #FDF2CC;
  --alert-color-base-02: #FDE07E;
  --alert-color-base-03: #F7BF00;
  --alert-color-base-04: #FFB934;
  --alert-color-base-05: #8E6E00;

  --highlight-color-base-01: #E8F6F9;
  --highlight-color-base-02: #B3E2EA;
  --highlight-color-base-03: #008080;
  --highlight-color-base-04: #007C9C;
  --highlight-color-base-05: #00586E;

  /* Border radius */
  --border-radius-none: 0;
  --border-radius-smaller: 2px;
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 16px;
  --border-radius-pill: 25rem;
  --border-radius-circle: 50rem;

  /* Border widths */
  --border-widths-none: 0;
  --border-widths-small: 1px solid;
  --border-widths-medium: 2px solid;
  --border-widths-large: 4px solid;

  /* opacity and Shadow */

  --opacity-6: 0.6;
  --shadow-1: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  --shadow-2: 2px 2px 4px 0px rgba(0, 0, 0, 0.12);
  --shadow-3: 0px 4px 6px 0px rgba(0, 0, 0, 0.16);

  /* Horizontal Space */
  --spacing-flat-quarck: 4px;
  --spacing-flat-nano: 8px;
  --spacing-flat-xxxxs: 12px;
  --spacing-flat-xxxs: 16px;
  --spacing-flat-xxs: 20px;
  --spacing-flat-xs: 24px;
  --spacing-flat-smaller: 28px;
  --spacing-flat-small: 32px;
  --spacing-flat-middle: 40px;
  --spacing-flat-medium: 48px;
  --spacing-flat-large: 52px;
  --spacing-flat-larger: 60px;
  --spancing-flat-big: 72px;
  --spacing-flat-bigger: 80px;
  --spacing-flat-xl: 100px;
  --spacing-flat-xxl: 160px;
  --spacing-flat-xxxl: 180px;
  --spacing-flat-huge: 220px;


  /*  Vertical Space */
  --spacing-standing-quarck: 4px;
  --spacing-standing-xxxxs: 8px;
  --spacing-standing-xxxs: 12px;
  --spacing-standing-xxs: 16px;
  --spacing-standing-xs: 20px;
  --spacing-standing-smaller: 24px;
  --spacing-standing-small: 32px;
  --spacing-standing-middle: 40px;
  --spacing-standing-half: 56px;
  --spacing-standing-medium: 60px;
  --spacing-standing-large: 80px;
  --spacing-standing-larger: 100px;
  --spancing-standing-big: 120px;
  --spacing-standing-bigger: 160px;
  --spacing-standing-xl: 200px;
  --spacing-standing-xxl: 300px;
  --spacing-standing-xxxl: 320px;

  /* Inner Spacing */
  --inner-spacing-small: 4px;
  --inner-spacing-middle: 8px;
  --inner-spacing-medium: 12px;
  --inner-spacing-large: 16px;
  --inner-spacing-larger: 24px;
  --inner-space-xl: 32px;


  /* Squish Space */
  --spacing-squish-xxxxs: 4px 12px;
  --spacing-squish-xxxs: 4px 16px;
  --spacing-squish-xs: 8px 16px;
  --spacing-squish-smaller: 12px 16px;
  --spacing-squish-small: 16px 24px;
  --spacing-squish-middle: 16px 28px;
  --spacing-squish-medium: 24px 32px;
  --spacing-squish-large: 16px 60px;


  /* Spacing Strech */
  --spacing-stretch-small: 12px 8px;
  --spacing-stretch-middle: 16px 8px;
  --spacing-stretch-half: 16px 12px;
  --spacing-stretch-medium: 20px 16px;
  --spacing-stretch-large: 24px 16px;
  --spacing-stretch-larger: 32px 16px;
  --spacing-stretch-xl: 32px 24px;

  /* font */
  --font-family-principal-light: 'Ubuntu Light', sans-serif;
  --font-family-principal-condensed: 'Ubuntu Condensed Regular', sans-serif;
  --font-family-principal: 'Ubuntu Regular', sans-serif;
  --font-family-principal-medium: 'Ubuntu Medium', sans-serif;
  --font-family-principal-bold: 'Ubuntu Bold', sans-serif;

  --font-test: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;



  --font-size-smaller: 10px;
  --font-size-small: 12px;
  --font-size-middle: 14px;
  --font-size-standard: 16px;
  --font-size-large: 18px;
  --font-size-larger: 20px;
  --font-size-big: 24px;
  --font-size-bigger: 28px;
  --font-size-display: 32px;
  --font-size-display1: 36px;
  --font-size-cosmic: 60px;
  --font-transform-lowercase: lowercase;
  --font-transform-uppercase: uppercase;
  --font-transform-capitalize: capitalize;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Letter Space */
  --letter-spacing-xs: -0.2px;
  --letter-spacing-xxs: -0.4px;

  /* Line Height */
  --line-height-tight: 114%;
  --line-height-fair: 124%;
  --line-height-distant: 136%;

/* flex layout */
  --display-flex: flex;
  --flex-row: row;
  --flex-column: column;
  --content-center: center;
  --content-between: space-between;
  --content-around: space-around;
  --content-start: flex-start;
  --content-end: flex-end;

  --w50: 50%;
  --w100: 100%;

}

/* Regras gerais */
@font-face {
  font-family: 'Ubuntu Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu Regular'), url('../assets/fonts/Ubuntu-R.woff') format('woff');
}


@font-face {
  font-family: 'Ubuntu Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu Italic'), url('../assets/fonts/Ubuntu-RI.woff') format('woff');
}


@font-face {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu Light'), url('../assets/fonts/Ubuntu-L.woff') format('woff');
}


@font-face {
  font-family: 'Ubuntu Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu Light Italic'), url('../assets/fonts/Ubuntu-LI.woff') format('woff');
}


@font-face {
  font-family: 'Ubuntu Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu Medium'), url('../assets/fonts/Ubuntu-M.woff') format('woff');
}


@font-face {
  font-family: 'Ubuntu Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu Medium Italic'), url('../assets/fonts/Ubuntu-MI.woff') format('woff');
}


@font-face {
  font-family: 'Ubuntu Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu Bold'), url('../assets/fonts/Ubuntu-B.woff') format('woff');
}


@font-face {
  font-family: 'Ubuntu Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu Bold Italic'), url('../assets/fonts/Ubuntu-BI.ttf') format('ttf');
}


@font-face {
  font-family: 'Ubuntu Condensed Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu Condensed Regular'), url('../assets/fonts/Ubuntu-C.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu Regular', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: var(--mono-70);
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-success {
  color: var(--success-color-base-04)!important;
}

.text-error {
  color: var(--error-color-base-04)!important;
}

.text-alert {
  color: var(--alert-color-base-04)!important;
}

.border-error {
  border-color: var(--error-color-base-04)!important;
}

.border-alert {
  border-color: var(--alert-color-base-04)!important;
}

.border-success {
  border-color: var(--success-color-base-04)!important;
}

/* EXCLUSIVO SHOWCASE */
.showcase-logo .badge {
  border: var(--border-widths-none);
  color: var(--light-color-base-01);
  font-weight: var(--font-weight-bold);
  border-radius: 0;
  margin-top: 16px;
}

.showcase-title {
  color: #505050;
  font-family: Ubuntu Condensed Regular;
  text-align: center;
  color: var(--primary-color-base-01);
}

.showcase-body {
  display: flex;
}

.showcase-container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

.showcase-container {
  width: 80%;
  height: 100%;
  margin: 50px auto;
  /* margin-left: 200px; */
}

.margin0 {
  margin: 0;
}

.padding0 {
  padding: 0;
}

hr {
  margin: 100px 0;
}

fieldset {
  border-radius: 10px;
  padding: 8px;
}

pre {
  margin: 0;
  /* line-height: 0; */
  padding: 16px 8px;
  white-space: pre-wrap;
  word-break: keep-all;
  white-space: normal;
  overflow-x:auto;
}

.showcase-container-code {
  margin: var(--inner-spacing-middle);
  padding: 8px 0;
  height: auto;
  background: var(--light-color-base-05);
  border-radius: var(--border-radius-medium);
}

.badge {
  padding: 6px 8px;
  background-color: var(--highlight-color-base-04);
  color: var(--light-color-base-01);
  border-radius: var(--border-radius-medium);
}

.showcase-row {
  margin: 16px;
  display: flex;
}

.showcase-space-between {
  justify-content: space-between;
}

.showcase-center {
  justify-content: center;
}

.vshowcase-vertical {
  flex-direction: column;
}

.showcase-vertical-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.showcase-sidebar {
  position: fixed;
  width: 180px;
  height: 100vh;
  background: var(--light-color-base-04);
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background: var(--primary-color-base-01);
}

.showcase-logo {
  width: 100%;
  height: 100px;
  background: var(--light-color-base-01);
  text-align: center;
  margin: 0;
  border-top: 16px solid var(--primary-color-base-01);
}

.showcase-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin-top: 36px;
}

.showcase-sidebar ul li {
  padding: 4px 0;
  text-indent: 8px;
  width: 100%;
  font-size: 14px;
}

.showcase-sidebar ul li a {
  color: #ffffff;
  text-decoration: none;
}

.showcase-sidebar ul li a:active,
.showcase-sidebar ul li a:hover,
.showcase-sidebar ul li a:focus {
  transition: var(--transition-links);
  font-weight: bold;
  text-decoration: underline;
  padding-left: 4px;
}

.text-item-sidebar {
  display: block;
  transition: var(--transition-links);
  font-size: 16px;
}

.text-icon-sidebar {
  display: none;

}

@media (max-width: 1650px) {
  .showcase-container {
    padding: 0 200px;
  }
}

@media (max-width: 1450px) {
  .showcase-container {
    padding: 0 200px;
  }
}

@media (max-width: 1231px) {
  .showcase-container {
    padding: 0 200px;
  }
}

@media (max-width: 1230px) {
  .showcase-container {
    padding: 0 100px;
  }

  .showcase-logo {
    margin-bottom: 36px;
  }

  .showcase-sidebar {
    position: fixed;
    width: 80px;
    height: 100vh;
    font-size: 12px;
    background: var(--primary-color-base-01);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .showcase-sidebar ul {
    width: 100%;
    height: 100%;
    margin-top: 36px;
  }

  .text-item-sidebar {
    display: none;
  }

  .text-icon-sidebar {
    display: block;
    text-align: center;
    text-indent: 0;
    padding: 6px 0;
  }
}

@media (max-width: 900px) {
  .showcase-container {
    padding: 0 100px;
  }
}

@media (max-width: 700px) {
  .showcase-container {
    padding: 0 100px;
  }
}
