:host {
  display: block;
}

.paragraph-huge {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-xxs);
  line-height: var(--line-height-fair);
}

.paragraph-xxxxl {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-xxs);
  line-height: var(--line-height-fair);
}

.paragraph-xxxl {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-xxs);
  line-height: var(--line-height-fair);
}

.paragraph-xxl {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-light);
  letter-spacing: var(--letter-spacing-xxs);
  line-height: var(--line-height-fair);
}

.paragraph-xl {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-middle);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-xxs);
  line-height: var(--line-height-fair);
}
.paragraph-lr {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-middle);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-xxs);
  line-height: var(--line-height-fair);
}
.paragraph-lg {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-middle);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-xxs);
  line-height: var(--line-height-fair);
}
.paragraph-mm {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-middle);
  font-weight: var(--font-weight-light);
  letter-spacing: var(--letter-spacing-xxs);
  line-height: var(--line-height-fair);
}
.paragraph-md {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-fair);
}
.paragraph-sl {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-fair);
}
.paragraph-sr {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-fair);
}
.paragraph-xs {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-fair);
}
.paragraph-xxs {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-distant);
}
.paragraph-xxxs {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-distant);
}
