:host {
  display: block;
}

.heading-display5 {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-cosmic);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-distant);
}

.heading-display4 {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-cosmic);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-distant);
}

.heading-display3 {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-cosmic);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-distant);
}

.heading-xxxxxl {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-display);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-distant);
}

.heading-xxxxl {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-display);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-distant);
}

.heading-xxxl {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-bigger);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-distant);
}

.heading-xxl {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-bigger);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-distant);
}
