:host {
  display: block;
}

.input-container {
  display: block;
  padding: 8px 16px;
}

.group {
  position: relative;
  margin: auto;
}

label {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-xxs);
  line-height: var(--line-height-fair);

  color: var(--dark-color-base-02);

  position: absolute;
  pointer-events: none;

  left: 0;
  top: 10px;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

input:focus~label,
input:valid~label,
input:active~label {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-xxs);
  line-height: var(--line-height-fair);

  top: -22px;
  color: var(--primary-color-base-02);

  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

input {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-xxs);
  line-height: var(--line-height-fair);

  border-radius: var(--border-radius-none);
  /* border: var(--border-widths-none); */
  border: 1px solid transparent;
  border-bottom: 1px solid var(--primary-color-base-02);

  padding: var(--inner-spacing-small);
  padding-right: -46px !important;

  color: var(--dark-color-base-03);
  background-color: var(--light-color-base-01);

  line-height: 25px;
  min-width: 340px;
  margin-right: -30px;
}

input:focus,
input:active {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-xxs);
  line-height: var(--line-height-fair);

  color: var(--dark-color-base-03);
  caret-color: var(--primary-color-base-01);
  border-bottom: 1px solid var(--secondary-color-base-02);


  line-height: 25px;
  outline: none;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;

  /* efeito transicao campo input */
  -webkit-animation: inputHighlighter 0.2s ease;
  -moz-animation: inputHighlighter 0.2s ease;
  animation: inputHighlighter 0.2s ease;
}

input~span {
  position: absolute;
  width: 30px;
  height: 33px;
  line-height: 33px;
  padding-left: 12px;
  margin-left: 20px;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: none;
  border-bottom: 1px solid var(--primary-color-base-02);
}

input:focus~span,
input:active~span {
  border-bottom: 1px solid var(--secondary-color-base-02);
}

input~span img {
  width: 24px;
  height: 24px;
  margin: 3px;
}

.border-bottom-error {
  border-bottom: 1px solid var(--error-color-base-04);
}

.label-error {
  color: var(--error-color-base-04);
}

.input-error {
  margin: 0;
  padding: 0;
  min-width: 340px;
  height: 30px;
  display: block;
  color: var(--error-color-base-04);
  font-size: var(--font-size-small);
}

input:disabled~label {
  color: var(--dark-color-base-02);
}

input:disabled~span,
input:disabled {
  border-bottom: 1px solid var(--dark-color-base-02);
  /* efeito transicao campo input */
  -webkit-animation: inputHighlighter 0.2s ease;
  -moz-animation: inputHighlighter 0.2s ease;
  animation: inputHighlighter 0.2s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: var(--primary-color-base-01);
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: var(--primary-color-base-01);
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: var(--primary-color-base-01);
  }

  to {
    width: 0;
    background: transparent;
  }
}
