:host {
  display: block;
}

.social-login {
  max-width: 164px;
  display: var(--display-flex);
  margin: auto 16px;
  justify-content: center;
  align-content: center;
  align-items: center;

  border-radius: var(--border-radius-pill);
  border: var(--border-widths-small) var(--primary-color-base-02);
  padding: var(--spacing-stretch-small);
}

.social-login:hover,
.social-login:active {
  transition: var(--transition-links);
  cursor: pointer;
  box-shadow: var(--shadow-2);
}

.social-login:focus, .social-login:active  {
  transition: var(--transition-links);
  outline: 1px solid;
  outline-color: var(--primary-color-base-01);
}

.social-login span {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-xxs);
  line-height: var(--line-height-fair);

  padding: var(--spacing-standing-quarck);
}

/* FACEBOOK SOCIAL BUTTON */
.social-login-facebook {
  background-color: var(--highlight-color-base-04);
  color: var(--light-color-base-01);
}

.social-login-facebook .icon {
  background-image: url(../../assets/img/facebook_icon.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.social-login-facebook span::after {
  content: 'Facebook';
}

/* GOOGLE SOCIAL BUTTON */
.social-login-google {
  border: 1px solid var(--primary-color-base-02);
  background-color: var(--light-color-base-02);
}

.social-login-google .icon {
  background-image: url(../../assets/img/google_icon.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.social-login-google span {
  color: var(--primary-color-base-02);
}

.social-login-google span::after {
  content: 'Google';
}

@media (max-width: 992px) {
  .social-login {
    min-width: 328px;
    margin: auto 16px;
  }
}
