:host {
  display: block;
}

.store-button {
  border-radius: var(--border-radius-small);
  border: var(--border-widths-none);
  padding: var(--inner-spacing-middle);
  /* background-color: var(--dark-color-base-05); */

  display: var(--display-flex);
  max-width: 156px;
  margin: auto 16px;
}

.store-button-dark, .store-button-dark span {
  background-color: var(--dark-color-base-05);
  color: var(--light-color-base-01);
}

.store-button-light, .store-button-light span {
  background-color: var(--light-color-base-01);
  color: var(--primary-color-base-02);
}

.store-button:hover,
.store-button:active {
  transition: var(--transition-links);
  cursor: pointer;
  box-shadow: var(--shadow-3);
}

.store-button:focus {
  transition: var(--transition-links);
  outline: 1px solid;
  outline-color: var(--primary-color-base-01);
}

.store-button span {
  /* Paragraph SR */
  font-family: var(--font-family-principal);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-fair);
  /* Subtitle MM */
  font-family: var(--font-family-principal);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-xxs);
  line-height: var(--line-height-fair);

  /* color: var(--light-color-base-01); */
  padding: var(--spacing-standing-quarck);
}

.store-button-text {display: block;}

.slogan-button-store {
  font-size: var(--font-size-middle);
  text-indent: var(--spacing-standing-quarck);
  text-align: left;
}

.store-button-light .slogan-button-store {
  color: var(--primary-color-base-02);
}

.store-button-dark .slogan-button-store {
  color: var(--light-color-base-01);
}

.store-button-apple span::after {
  content: 'App Store';
}

.store-button-android span::after {
  content: 'Google Play';
}

.store-button-android .icon {
  background-image: url(../../assets/img/icon-google-store.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin: auto;
}

.store-button-apple .icon {
  background-image: url(../../assets/img/icon-apple-store.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin: auto;
}

.store-button-light.store-button-apple .icon {
  background-image: url(../../assets/img/icon_apple_dark.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin: auto;
}


@media (max-width: 1300px) {
  .store-button {
    min-width: 156px;
  }
}
